@include phone {

    .cat-data {
        @include container-styles;
    }

    .cat-data__item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .cat-data__name {
        font-size: 16px;
        line-height: 18px;
        color: $special-dark;
        text-transform: uppercase;
        margin-right: 11px;
    }

    .cat-data__name-form {
        padding: 14px 0 13px 15px;
        font-size: 16px;
        line-height: 18px;
        color: $special-dark;
        text-transform: uppercase;
        border: 1px solid $input-border;
        font-family: $primary-font;

        &--nickname {
            width: 211px;
        }

        &--wt {
            width: 189px;
        }

        &--age {
            width: 156px;
            margin-bottom: 24px;
        }

        &:hover{
            outline: 2px solid $grey;
        }

        &:focus {
            outline: 2px solid $special-dark;
        }

        &:invalid{
            outline: 2px solid $status-error;
        }
    }

}


/* Table */

@include table {

    .cat-data__item {
        &:not(:last-child) {
            margin-bottom: 21px;
        }
    }

    .cat-data__name {
        font-size: 20px;
        line-height: 30px;
        color: $special-dark;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .cat-data__name-form {
        padding: 14px 0 13px 15px;
        font-size: 20px;
        line-height: 30px;
        font-family: $primary-font;
        color: $special-dark;
        text-transform: uppercase;
        border: 1px solid $input-border;

        &--nickname {
            width: 547px;
            padding: 13px 0 8px 19px;
        }

        &--wt {
            width: 519px;
            padding: 9px 0 10px 19px;
        }

        &--age {
            width: 477px;
            padding: 10px 0 11px 20px;
            margin-bottom: 72px;
        }

        &:hover{
            outline: 2px solid $grey;
        }

        &:focus {
            outline: 2px solid $special-dark;
        }

        &:invalid{
            outline: 2px solid $status-error;
        }

    }
}


/* Desktop */

@include desktop {

    .cat-data{
        margin-left: 8px;
        margin-right: 80px;
    }

    .cat-data__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .cat-data__name {
        font-size: 20px;
        line-height: 29px;
        color: $special-dark;
        text-transform: uppercase;
        margin-right: 11px;
    }

    .cat-data__name-form {
        padding:11px 0 11px 19px;
        font-size: 20px;
        line-height: 29px;
        font-family: $primary-font;
        color: $special-dark;
        text-transform: uppercase;
        border: 1px solid $input-border;

        &--nickname {
            width: 489px;
        }

        &--wt {
            width: 461px;
        }

        &--age {
            width: 420px;
            margin-bottom: 72px;
        }

        &:hover{
            outline: 2px solid $grey;
        }

        &:focus {
            outline: 2px solid $special-dark;
        }

        &:invalid{
            outline: 2px solid $status-error;
        }

    }
}

