.program-selection__title{
    padding-top: 27px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 37px;
}

.program-selection__subtitle{
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 39px;
}