@include phone {

    .questionnaire {
        margin-bottom: 32px;
    }

    .questionnaire__send {
        @include container-styles;
        text-align: center;
    }

    .questionnaire__send-form {
        width: 100%;
        margin-bottom: 21px;
        padding: 10px 56px;
        background-color: $basic-green;
        border: none;
        color: $basic-white;
        font-size: 16px;
        text-transform: uppercase;
    }

    .questionnaire__required-form {
        font-family: $secondary-font;
        font-size: 13px;
    }
}

/* Table */

@include table {

    .questionnaire {
        margin-bottom: 60px;
    }

    .questionnaire__send {
        display: flex;
        align-items: center;
    }

    .questionnaire__send-form {
        width: 284px;
        padding: 10px 56px;
        background-color: $basic-green;
        border: none;
        color: $basic-white;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 60px;
    }

    .questionnaire__required-form {
        font-family: $secondary-font;
        font-size: 13px;
    }
}


/* Desktop */

@include desktop{
    .questionnaire {
        margin-bottom: 60px;
    }

    .questionnaire__wrapper-index{
        @include container-styles-desktop;
        display: flex;
        flex-direction: row;
    }

    .questionnaire__send {
        display: flex;
        align-items: center;
    }

    .questionnaire__send-form {
        width: 570px;
        padding: 10px 56px;
        background-color: $basic-green;
        border: none;
        color: $basic-white;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 60px;
    }

    .questionnaire__required-form {
        font-family: $secondary-font;
        font-size: 13px;
    }
}