.button{
    text-decoration: none;

    &:hover{
        background-color: $thumb-active;
    }

    &:active{
        background-color: $thumb-active;
        color: rgba($basic-white,0.3) ;
    }

    &--primary{
        text-decoration: none;

        &:hover{
            background-color: $button-primary;
        }

        &:active{
            background-color: $button-primary;
        }
    }
}