@mixin font-face($font-family,$font-weight,$font-scr,$font-style) { 
    @font-face{
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: $font-scr;
    font-display: swap;
}
}