@mixin font-face($font-family, $font-weight, $font-scr, $font-style) {
    @font-face {
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        src: $font-scr;
        font-display: swap;
    }
}

@mixin container-styles {
    width: 280px;
    margin: 0 auto;
}

@mixin container-styles-tablet {
    width: 708px;
    margin: 0 auto;
  }


@mixin phone {
    @media only screen and (max-width: $mobile-width-only) {
        @content;
    }
}

@mixin table {
    @media only screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop-width) {
        @content;
    }
}
