/* здесь используйте глобальные переменные */
 $basic-dark:#000000;
 $basic-white:#ffff;
 $basic-green:#68B738;
 $basic-grey:#D9D9D9;
 $special-dark:#444444;
 $special-dark-two:#222222;
 $special-grey:#EAEAEA;
 $grey:#CDCDCD;
 $white-grey:#F2F2F2;
 $dark:#111;
 $cross-grey:#D3D3D3;
 $input-border:#E7E7E7;

//input
$radio-size:30px;

//width 

 $mobile-width-only: 767px;
 $tablet-width: 768px;
 $desktop-width: 1440px;