@include phone {
  $advantages-descriptions: one two three four;

  .advantages {
    width: 100%;
    margin-bottom: 40px;
  }

  .advantages__wrapper {
    @include container-styles;
  }

  .advantages__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .advantages__description {
    font-size: 14px;
    line-height: 18px;
    color: $special-dark;
    padding-left: 80px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @each $description in $advantages-descriptions {
    .advantages__description--#{$description} {



      &::before {
        content: "";

        @if $description ==one {
          background-image: url('/images/advantages/one.svg');
          display: block;
          position: absolute;
          width: 60px;
          height: 60px;
          left: 0px;
          top: -3px;
          background-repeat: no-repeat;
        }

        @else if $description ==two {
          background-image: url('/images/advantages/two.svg');
          display: block;
          position: absolute;
          width: 60px;
          height: 60px;
          left: 0px;
          top: -3px;
          background-repeat: no-repeat;
        }

        @else if $description ==three {
          background-image: url('/images/advantages/three.svg');
          display: block;
          position: absolute;
          width: 60px;
          height: 60px;
          left: 0px;
          top: -3px;
          background-repeat: no-repeat;
        }

        @else if $description ==four {
          background-image: url('/images/advantages/four.svg');
          display: block;
          position: absolute;
          width: 60px;
          height: 60px;
          left: 0px;
          top: -3px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

/* Table  */

@include table {

  $advantages-descriptions: one two three four;

  .advantages {
    margin-bottom: 85px;
  }

  .advantages__wrapper {
    @include container-styles-tablet;
  }

  .advantages__title {
    font-size: 45px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 166px;
    row-gap: 50px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    color: $special-dark;
    position: relative;
    padding-top: 184px;
    z-index: 1;
    width: 216px;
  
    &--one::after,
    &--two::after,
    &--three::after,
    &--four::after {
      content: "";
      display: block;
      position: absolute;
      background-size: contain;
      width: 112px;
      height: 227px;
      left: 55%;
      background-repeat: no-repeat;
      z-index: -1;
      bottom: -16%;
    }
  
    &--one::after {
      background-image: url('../../images/advantages/number-one.png');
    }
  
    &--two::after {
      background-image: url('../../images/advantages/number-two.png');
    }
  
    &--three::after {
      bottom: -10%; 
      background-image: url('../../images/advantages/number-three.png');
    }
  
    &--four{
      width: 200px;
    &::after {
      background-image: url('../../images/advantages/number-four.png');
    }
  }
  }

  @each $description in $advantages-descriptions {
    .advantages__description--#{$description} {



      &::before {
        content: "";

        @if $description ==one {
          background-image: url('/images/advantages/one.svg');
          display: block;
          position: absolute;
          background-size: contain;
          width: 80px;
          height: 80px;
          left: 0px;
          bottom: 36%;
          background-repeat: no-repeat;
        }

        @else if $description ==two {
          background-image: url('/images/advantages/two.svg');
          display: block;
          position: absolute;
          background-size: contain;
          width: 80px;
          height: 80px;
          left: 0px;
          bottom: 36%;
          background-repeat: no-repeat;
        }

        @else if $description ==three {
          background-image: url('/images/advantages/three.svg');
          display: block;
          position: absolute;
          background-size: contain;
          width: 80px;
          height: 80px;
          left: 0px;
          bottom: 36%;
          background-repeat: no-repeat;
        }

        @else if $description ==four {
          background-image: url('/images/advantages/four.svg');
          background-size: contain;
          width: 80px;
          height: 80px;
          display: block;
          position: absolute;
          left: 0px;
          bottom: 36%;
          background-repeat: no-repeat;
        }
      }

    }
  }

}

/* Desktop */

@include desktop{
  $advantages-descriptions: one two three four;

  .advantages {
    margin-bottom: 85px;
  }

  .advantages__wrapper {
    @include container-styles-desktop;
  }

  .advantages__title {
    font-size: 45px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    color: $special-dark;
    position: relative;
    padding-top: 200px;
    z-index: 1;
    width: 216px;
  
    &--one::after,
    &--two::after,
    &--three::after,
    &--four::after {
      content: "";
      display: block;
      position: absolute;
      background-size: contain;
      width: 112px;
      height: 227px;
      left: 55%;
      background-repeat: no-repeat;
      z-index: -1;
      bottom: -9%;
    }
  
    &--one::after {
      background-image: url('../../images/advantages/number-one.png');
    }
  
    &--two::after {
      background-image: url('../../images/advantages/number-two.png');
    }
  
    &--three::after {
      bottom: -10%; 
      background-image: url('../../images/advantages/number-three.png');
    }
  
    &--four{
    &::after {
      background-image: url('../../images/advantages/number-four.png');
      background-size: contain;
      width: 200px;
    }
  }
  }

  @each $description in $advantages-descriptions {
    .advantages__description--#{$description} {



      &::before {
        content: "";

        @if $description ==one {
          background-image: url('/images/advantages/one.svg');
          display: block;
          position: absolute;
          background-size: contain;
          width: 80px;
          height: 80px;
          left: 0px;
          bottom: 41%;
          background-repeat: no-repeat;
        }

        @else if $description ==two {
          background-image: url('/images/advantages/two.svg');
          display: block;
          position: absolute;
          background-size: contain;
          width: 80px;
          height: 80px;
          left: 0px;
          bottom: 41%;
          background-repeat: no-repeat;
        }

        @else if $description ==three {
          background-image: url('/images/advantages/three.svg');
          display: block;
          position: absolute;
          background-size: contain;
          width: 80px;
          height: 80px;
          left: 0px;
          bottom: 41%;
          background-repeat: no-repeat;
        }

        @else if $description ==four {
          background-image: url('/images/advantages/four.svg');
          background-size: contain;
          width: 80px;
          height: 80px;
          display: block;
          position: absolute;
          left: 0px;
          bottom: 41%;
          background-repeat: no-repeat;
        }
      }

    }
  }

}
