
    .contacts{
        width: 320px;
        margin: 0 auto;
        background-color: $white-grey;

        &--index{
            background-color: $basic-white;
        }
    }

    .contacts__wrapper{
        width: 280px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 26px 15px 26px 25px
    }

    .contacts__description{
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color:$dark;
        font-weight: bold;
        width: 180px;
    }

    .contacts__address{
        font-family: $secondary-font;
        font-size: 12px;
        line-height: 20px;
        color:$special-dark;
        width: 149px;
    }
