@include phone{
.living-example {
    position: relative;
    background-color: $special-grey;
    margin: 0 auto;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: $grey;
    }
}

.living-example__container {
    padding: 11px 0 33px;

}

.living-example__wrapper {
    @include container-styles;
}

.living-example__title {
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;

}

.living-example__description {
    font-family: $secondary-font;
    margin: 0;
    margin-bottom: 20px;
    color: $special-dark;

}

.live-example__thumb{
    display: inline-block;
    position: absolute;
    right: 49%;
    bottom: 6%;
    width: 4px;
    height: 257px;
    padding: 0;
    border: 0;
    background-color: #666;
    border-radius: 2px;

    &:hover{
        background-color: $basic-green;
    }

    &:active{
        background-color: $thumb-active;
    }

    &::after{
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("../../images/slider/thumb-default.svg");
        bottom: 43%;
        left: -19px;
    }

    &:hover::after{
        background-image: url("../../images/slider/thumb-hover.svg");
      }

    &:active::after{
        background-image: url("../../images/slider/thumb-active.svg");
      }
 
}

}

/* Table */

@include table{
    .living-example {
        position: relative;
        background-color: $basic-white;
    }
    
    .living-example__wrapper {
        @include container-styles-tablet;
        padding-bottom: 210px;
    }
    
    .living-example__title {
        font-weight: 400;
        margin: 0;
        margin-bottom: 60px;
        font-size: 60px;
        line-height: 60px;
    
    }
    
    .living-example__description {
        font-family: $secondary-font;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 55px;
        color: $special-dark;
    
    }

    .live-example__thumb{
        display: inline-block;
        position: absolute;
        right: 49.8%;
        bottom: 10%;
        width: 4px;
        height: 510px;
        padding: 0;
        border: 0;
        background-color: $thumb-default;
        border-radius: 2px;
    
        &:hover{
            background-color: $basic-green;
        }
    
        &:active{
            background-color: $thumb-active;
        }
    
        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/slider/thumb-default.svg");
            bottom: 46%;
            left: -18px;
        }
    
        &:hover::after{
            background-image: url("../../images/slider/thumb-hover.svg");
          }
    
        &:active::after{
            background-image: url("../../images/slider/thumb-active.svg");
          }
        }
}

/* Desktop */

@include desktop{

    .living-example {
        position: relative;
        background-color: $basic-white;
        width: 100%;
        background: linear-gradient($basic-white 24%,$white-grey 2%);
        padding-bottom: 75px;
    }

    .living-example__container{
        display: flex;
        justify-content: space-between;
        @include container-styles-desktop;
        position: relative;
    }
    
    .living-example__wrapper {
        width: 437px;
    }
    
    .living-example__title {
        font-weight: 400;
        margin: 0;
        margin-bottom: 145px;
        font-size: 60px;
        line-height: 60px;
        margin-left: 9px;
    }
    
    .living-example__description {
        font-family: $secondary-font;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 73px;
        color: $special-dark;
        margin-left: 9px;
        width: 432px;
    }

    .live-example__thumb{
        display: inline-block;
        position: absolute;
        right: 22%;
        bottom: 2%;
        width: 4px;
        height: 512px;
        padding: 0;
        border: 0;
        background-color: $thumb-default;
        border-radius: 2px;
    
        &:hover{
            background-color: $basic-green;
        }
    
        &:active{
            background-color: $thumb-active;
        }
    
        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/slider/thumb-default.svg");
            bottom: 46%;
            left: -19px;
        }
    
        &:hover::after{
            background-image: url("../../images/slider/thumb-hover.svg");
          }
    
        &:active::after{
            background-image: url("../../images/slider/thumb-active.svg");
          }
        }

}


