@include phone {
    .programs {
        width: 100%;
    }

    .programs__wrapper {
        @include container-styles;
    }

    .programs__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .programs__item {
        background-color: #F2F2F2;
        margin-bottom: 20px;
        padding: 30px 33px 18px 22px;
        position: relative;
    }

    .programs__item--cat {
        &::before {
            content: "";
            position: absolute;
            width: 50px;
            height: 53px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/cat.svg");
            top: 20px;
        }
    }

    .programs__item--panters {
        &::before {
            content: "";
            position: absolute;
            width: 67px;
            height: 50px;
            display: block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/panter-mobile.svg");
            top: 20px;
        }
    }

    .programs__title {
        font-size: 18px;
        line-height: 37px;
        color: $basic-dark;
        text-transform: uppercase;
        margin-bottom: 29px;
        padding-left: 70px;
    }

    .programs__description {
        font-family: $secondary-font;
        margin-bottom: 38px;
        position: relative;
        color: $special-dark;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 240px;
            border-top: 1px solid #d9d9d9;
            bottom: -23px;
        }
    }

    .programs__link-place {
        &:active {
            opacity: 30%;
        }
    }

    .programs__link-catalog {
        font-size: 16px;
        line-height: 16px;
        color: $basic-dark;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 12px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/arrow.svg");
            top: 3px;
            margin-left: 15px;
        }
    }
}

/* Table */

@include table {

    .programs__wrapper {
        @include container-styles-tablet;
    }

    .programs__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .programs__item {
        background-color: #F2F2F2;
        margin-bottom: 45px;
        position: relative;
    }

    .programs__item-wrapper {
        width: 340px;
        padding: 86px 316px 62px 52px;
    }

    .programs__item--cat {
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 211px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/cat.svg");
            background-size: contain;
            top: 24%;
            left: 65%;
        }
    }

    .programs__item--panters {
        &::before {
            content: "";
            position: absolute;
            width: 268px;
            height: 200px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/panter.svg");
            background-size: contain;
            top: 28%;
            left: 59%;
        }
    }

    .programs__title {
        line-height: 37px;
        color: $basic-dark;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .programs__description {
        font-family: $secondary-font;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        color: $special-dark;
        margin-bottom: 48px;
    }

    .programs__link-place {
        &:active {
            opacity: 30%;
        }
    }

    .programs__link-catalog {
        font-size: 20px;
        color: $basic-dark;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 12px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/arrow.svg");
            top: 3px;
            margin-left: 25px;
        }
    }
}

/* Desktop */

@include desktop {

    .programs__wrapper {
        @include container-styles-desktop;
    }

    .programs__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .programs__item {
        background-color: #F2F2F2;
        margin-bottom: 71px;
        padding: 86px 81px 65px;
        position: relative;
    }

    .programs__item--cat {
        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 106px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/cat.svg");
            top: 11%;
            left: 15%;
        }
    }

    .programs__item--panters {
        &::before {
            content: "";
            position: absolute;
            width: 134px;
            height: 100px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/panter.svg");
            top: 13%;
            left: 11%;
        }
    }

    .programs__title {
        font-size: 27px;
        line-height: 37px;
        color: $basic-dark;
        text-transform: uppercase;
        margin-bottom: 73px;
        text-align: center;
        margin-left: 77px;
    }

    .programs__description {
        font-size: 14px;
        line-height: 24px;
        font-family: $secondary-font;
        width: 408px;
        margin-bottom: 23px;
        position: relative;
        color: $basic-dark;
    }

    .programs__link-place {
        &:active {
            opacity: 30%;
        }
    }

    .programs__link-catalog {
        font-size: 18px;
        color: $basic-dark;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 12px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url("../../images/programs/arrow.svg");
            top: 3px;
            margin-left: 15px;
        }
    }
}