.catalog__title{
    font-size: 28px;
    line-height: 36px;
    padding: 27px 42px 41px 20px;
    @include container-styles;
}


.catalog__product-card-wrapper{
    @include container-styles;
    padding-bottom: 25px;
}