.catalog__title{
    font-size: 32px;
    line-height: 36px;
    padding: 27px 42px 41px 20px;
    max-width: 320px;
    margin: 0 auto;
}


.catalog__product-card-wrapper{
    width: 280px;
    margin: 0 auto;
    padding-bottom: 25px;
}