@include phone {
    .product {
        box-sizing: border-box;
    }


    .product__wrapper-items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
        padding-top: 20px;
    }

    .product__wrapper-img {
        margin-top: 13px;
        margin-right: 16px;
    }

    .product__heading {
        font-size: 16px;
        line-height: 20px;
        word-break: break-all;
        width: 96px;
        margin-bottom: 14px;
    }


    .product__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 45px);
        column-gap: 86px;
        row-gap: 1px;
    }

    .product__key {
        color: $special-dark;
    }

    .product__meaning {
        color: $special-dark;
        text-align: right;
    }

    .product__wrapper-button {
        background-color: $basic-green;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .product__button {
        color: $basic-white;
    }

}

/* Table */

@include table {
    .product {
        box-sizing: border-box;
    }


    .product__wrapper-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product__wrapper-img{
        position: relative;
        width: 161px;
        height: 151px;
    }

    .product__image{
       &--small-pic{
        position: absolute;
        bottom: 43px;
        width: 161px;
        height: 166px;
        }

       &--big-pic{
        position: absolute;
        bottom: 26px;
        width: 168px;
        height: 200px;
       } 
    }

    .product__heading {
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        width: 140px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 20px;
    }


    .product__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 48px);
        column-gap: 165px;
        row-gap: 10px;
        margin-bottom: 37px;
    }

    .product__key {
        font-size: 15px;
        color: $special-dark;
        position: relative;

        &::after {
            content: "";
            height: 1px;
            background-color: $grey;
            position: absolute;
            bottom: -7px;
            width: 262px;
            left: 0;
        }
    }

    .product__meaning {
        font-size: 15px;
        color: $special-dark;
        text-align: right;
    }

    .product__wrapper-button {
        background-color: $basic-green;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        width: 250px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .product__button {
        color: $basic-white;
    }

}

/* Desktop */

@include desktop{
    .product {
        box-sizing: border-box;
    }


    .product__wrapper-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product__wrapper-img{
        position: relative;
        width: 161px;
        height: 151px;
    }

    .product__image{
       &--small-pic{
        position: absolute;
        bottom: 43px;
        width: 161px;
        height: 166px;
        }

       &--big-pic{
        position: absolute;
        bottom: 26px;
        width: 168px;
        height: 200px;
       } 
    }

    .product__heading {
        font-size: 18px;
        line-height: 20px;
        word-break: break-all;
        width: 140px;
        text-align: center;
        margin-left: 24px;
        margin-bottom: 20px;
    }


    .product__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 48px);
        column-gap: 89px;
        row-gap: 10px;
        margin-bottom: 37px;
    }

    .product__key {
        font-size: 15px;
        color: $special-dark;
        position: relative;

        &::after {
            content: "";
            height: 1px;
            background-color: $grey;
            position: absolute;
            bottom: -7px;
            width: 186px;
            left: 0;
        }
    }

    .product__meaning {
        font-size: 15px;
        color: $special-dark;
        text-align: right;
    }

    .product__wrapper-button {
        background-color: $basic-green;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        width: 169px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .product__button {
        color: $basic-white;
    }

}