@include phone {
    .product {
        box-sizing: border-box;
    }


    .product__wrapper-items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-top: 20px;

        &--big-chk {
            margin-bottom: 17px;
        }

        &--fish-big {
            margin-bottom: 17px;
        }

        &--buckwheat-big {
            margin-bottom: 18px;
        }
    }

    .product__wrapper-img {
        margin-top: 9px;
        padding-left: 36px;

        &--big {
            margin-top: 3px;
            padding-left: 28px;
        }

        &--fish {
            margin-top: 14px;
            padding-left: 36px;
        }

        &--buckwheat {
            margin-top: 14px;
            padding-left: 36px;
        }

        &--rise {
            margin-top: 10px;
            padding-left: 33px;
        }

    }

    .product__link-product {
        color: $basic-dark;
    }

    .product__heading {
        font-size: 16px;
        line-height: 20px;
        word-break: break-all;
        text-transform: uppercase;
        width: 78px;
        margin-bottom: 14px;

        &--fish {
            margin-bottom: 15px;
        }

    }


    .product__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 45px);
        column-gap: 50px;
    }

    .product__key {
        color: $special-dark;
    }

    .product__meaning {
        color: $special-dark;
        text-align: right;
    }

    .product__button {
        color: $basic-white;
        display: block;
        background-color: $basic-green;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

}

/* Table */

@include table {
    .product {
        box-sizing: border-box;
    }


    .product__wrapper-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product__wrapper-img {
        position: relative;
        width: 161px;
        height: 151px;
    }

    .product__link-product {
        color: $basic-dark;
    }

    .product__image {
        &--small-pic {
            position: absolute;
            bottom: 43px;
            width: 161px;
            height: 171px;
        }

        &--big-pic {
            position: absolute;
            bottom: 26px;
            left: -4px;
            width: 168px;
            height: 206px;
        }
    }

    .product__heading {
        font-size: 20px;
        line-height: 24px;
        word-break: break-all;
        width: 127px;
        text-align: center;
        margin-left: 61px;
        margin-bottom: 19px;
        text-transform: uppercase;

        &--position {
            width: 130px;
            margin-left: 60px;
        }
    }


    .product__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 58px);
        column-gap: 135px;
        row-gap: 12px;
        margin-bottom: 37px;
        align-items: center;
    }

    .product__key {
        font-size: 16px;
        line-height: 20px;
        color: $special-dark;
        position: relative;

        &::after {
            content: "";
            height: 1px;
            background-color: $grey;
            position: absolute;
            bottom: -5px;
            width: 250px;
            left: 0;
        }
    }

    .product__meaning {
        font-size: 16px;
        line-height: 20px;
        color: $special-dark;
        text-align: right;
    }


    .product__button {
        color: $basic-white;
        display: block;
        background-color: $basic-green;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        width: 250px;
        box-sizing: border-box;
        margin: 0 auto;
    }

}

/* Desktop */

@include desktop {
    .product {
        box-sizing: border-box;
    }


    .product__wrapper-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product__wrapper-img {
        position: relative;
        width: 161px;
        height: 141px;
    }

    .product__link-product {
        color: $basic-dark;
    }

    .product__image {
        &--small-pic {
            position: absolute;
            bottom: 33px;
            width: 161px;
            height: 171px;
        }

        &--big-pic {
            position: absolute;
            bottom: 20px;
            left: -6px;
            width: 172px;
            height: 195px;
        }
    }

    .product__heading {
        font-size: 20px;
        line-height: 24px;
        word-break: break-all;
        width: 135px;
        text-align: center;
        margin-left: 15px;
        margin-bottom: 23px;
        text-transform: uppercase;
    }


    .product__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 62px);
        column-gap: 42px;
        row-gap: 12px;
        margin-bottom: 43px;
    }

    .product__key {
        font-size: 16px;
        line-height: 20px;
        color: $special-dark;
        position: relative;

        &::after {
            content: "";
            height: 1px;
            background-color: $grey;
            position: absolute;
            bottom: -7px;
            width: 169px;
            left: 0;
        }

        &--position {
            &::after {
                content: "";
                height: 1px;
                background-color: $grey;
                position: absolute;
                bottom: -11px;
                width: 169px;
                left: 0;
            }
        }

    }


    .product__meaning {
        font-size: 16px;
        line-height: 20px;
        color: $special-dark;
        text-align: right;
    }

    .product__button {
        color: $basic-white;
        display: block;
        background-color: $basic-green;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        width: 169px;
        box-sizing: border-box;
        margin: 0 auto;
    }

}